
.amt{

    border: 2px solid black;
    padding: 9px 20px;
    background-color: darkblue;
    border-radius: 10px;
    color: white;
    font-weight: bold;

}

.location{

    font-weight: bold;
    font-size: x-large;

}

.description{

    font-weight: bold;
    font-size: x-large;
}

