.Expense_list{

    text-align: center;
    margin: 1rem;
    font-weight: bold;
    font-size: x-large;
    text-decoration-line: underline;

}
.expenses{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 100px 200px;
    border: 4px solid black;
    padding: 30px 50px;
    border-radius: 10px;
    background-color: rgba(70, 75, 80, 0.863);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.9);
    
    
}

.date{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px 20px;
    background-color: darkblue;
    border-radius: 10px;
    color: white;
    text-align: center;
    

}



.itemlist{
    display: flex;
    gap:260px;
    
}


.Spend_Money_location{
    font-weight: bold;
    padding-top: 18px;
}
@media screen and (max-width: 768px) {
    .expenses {
        flex-direction: row;
        width: 100%;
        margin: 50px auto;
    }
}
@media screen and (min-width: 970px) {
    .expenses {
        width: 80%;
        margin:60px auto;
    }
}