.Expense_list{

    text-align: center;
    margin: 1rem;
    font-weight: bold;
    font-size: x-large;
    text-decoration-line: underline;

}


.expenses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
 
    border: 10px solid black;
   

    
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.9);
    
    
}
@media screen and (max-width :600px) {
    .expenses{
        background-color: rgb(28, 28, 197);
        width: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        height: 350px;
        text-align: center;
        
    }
  }
  @media screen and (min-width: 600px) {
    .expenses{
        background-color: rgb(129, 126, 120);
        padding: 10px 10px;
        /* border-radius: 30px; */
        width: 92%;
        margin: 1rem auto;
    }
  }


 




.Spend_Money_location{
    font-weight: bold;
    padding-top: 18px;
}
/* @media screen and (max-width: 768px) {
    .expenses {
        flex-direction: row;
        width: 100%;
        margin: 50px auto;
    }
}
@media screen and (min-width: 970px) {
    .expenses {
        width: 80%;
        margin:60px auto;
    }
} */