.expense-form{
    border: 5px solid black;
    width: 60%;
    margin-top: 7rem;
    margin-bottom: 3rem;
    margin-left: 13rem;
    padding: 91px 23px;
    background-color: #093752;
    border-radius: 20px;
    border-radius: 10% 45%;
    color: white;
    font-weight: bolder;
}


/* expense - form background color-changes */
.expense-form{
background-image: linear-gradient(
    90deg,
    #fa8bff 0%,
    #2bd2ff 50%,
    #2bff88 75%,
    #fa8bff 100%
  );
  color: black;
  animation: slide 1s linear infinite;
}

@keyframes slide{
  100%{
    background-position: 20rem;
  }
}


.form-controls{

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.form-input-amount{
    margin-left: 24rem;
    
    margin-top: -4rem;
}
.addExpenseButton{
    position: relative;
    top: 13px;
    left: 34rem;
}

.btn{
    padding: 7px 20px;
    border-radius: 8px;
    font-weight: bold;
    background: red;
    color: white;
    border: 2px solid black;
}

.form-input-date{
    position: relative;
    top: 43px;
}


input[type='text']{

    padding: 5px 14px;
    border-radius: 4px;

}


input[type="date"]{
    padding: 5px 40px;
    border-radius: 4px;
}

input[type="number"]{
    padding: 5px 14px;
    border-radius: 4px;

}