.background{
    display: inline-block; 
    margin: auto 6rem;
    background-color: rgb(27, 26, 26);
    text-align: center;
    border: 3px solid white;
}

.Expense_list{

  text-align: center;
  margin: 1rem;
  font-weight: bold;
  font-size: x-large;
  /* text-decoration-line: underline; */
  position: relative;
  top: 62px;
  color: white;
}



.title{
  position: relative;
    left: 238px;
    top: 172px;
    color: rgb(17, 16, 16);
}

/* 
.title{
  background-image: linear-gradient(
    90deg,
    #fa8bff 0%,
    #2bd2ff 50%,
    #2bff88 75%,
    #fa8bff 100%
  );
  color: black;
  animation: slide 1s linear infinite;
}

@keyframes slide{
  100%{
    background-position: 20rem;
  }
} */

.Expense_list {
    animation: marquee 20s linear infinite;
  }
  
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  